---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "DRCV COMPANY - Tu Socio Estratégico en Desarrollo Web" } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/drcv_company.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/drcv_company.png" />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/drcv_company.png" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global lang="scss">@use '../styles/variables.scss' as *;
@use '../styles/global.scss';</style>